{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "dynamic-import-node",
    "syntax-dynamic-import",
    "@babel/plugin-transform-spread",
    "@babel/plugin-proposal-class-properties"
  ]
}
