{
  "env": {
    "plugins": [
      "dynamic-import-node",
      "syntax-dynamic-import",
      "add-module-exports",
      "transform-object-rest-spread"
    ],
    "test": {
      "presets": [
        "env",
        "react"
      ]
    }
  }
}
